@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Momo Trust Display";
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}
.play-ground {
  background-color: #353535;
  color: #edf0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 600px;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.score-board,
.result-display,
.buttons {
  width: 900px;
}

.score-board {
  display: flex;
  flex-direction: column;
}
.reset-score {
  text-align: center;
  font-size: 36px;
}
.reset-btn {
  padding: 10px 40px;
  font-size: 30px;
  border: none;
  background-color: #2751a3;
  color: #edf0f0;
  border-radius: 5px;
  cursor: pointer;
}
.score-display {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
}
.result-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #6379c8;
  font-size: 42px;
}
.p-result {
  color: #6379c8;
  font-size: 48px;
}

p {
  text-align: center;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.img {
  width: 200px;
  height: 200px;
}
img {
  width: 200px;
  height: 200px;
  filter: invert(100%) sepia(100%) hue-rotate(200deg);
}
.versus {
  font-size: 48px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 40px;
  font-size: 30px;
  border: none;
  background-color: #2751a3;
  color: #edf0f0;
  border-radius: 5px;
  cursor: pointer;
}
